.contactMenu {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 10%;  
    height: 100%; 
    width: 40%; 
    align-items: center; 
}

.contactMenu-title {
    font-family: Archivo Narrow;
    font-size: 3.3em;
    color: white;
    font-weight: 900;
    letter-spacing: 0.5vw;
    padding: 20px 0px 20px 0;
}

.contactMenu-subtitle {
    padding: 0px 0px 25px 0px;
    font-size: 1.6em;
    color: white;
    font-weight: 600;
}

.contactMenu-phone-num {
    color: white;
    text-decoration: none;
    padding: 12px 1.8vw;
    text-align: center;
    font-size: 1.8vw;

}

@media screen and (max-width: 1030px) {
    

    .contactMenu-phone-num {
        color: white;
        text-decoration: none;
        padding: 12px 1.7vw;
        text-align: center;
        font-size: 1.7vw;
    
    }

}

